# .gitignore

# --- Python ---
# Compiled Python files and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folder
# Maybe relevant later on
.venv/
# Or other common names
venv/
env/

# --- pyenv ---
# The local python version file
.pyenv
.python-version

# --- IDE / Editor ---
# VSCode
.vscode/

# --- Build / Distribution ---
build/
dist/
*.egg-info/
*.egg

# --- Testing ---
.pytest_cache/
.coverage

# --- Save Files ---
player_data.json

# --- NodeJS ---
node_modules
package-lock.json
